.grid-container {
    display: flex;
    flex-flow: row wrap; 
    width: 420px;
    margin: 0 auto;
    margin-top: 250px;
}

.options-container {
    display: flex; 
    
    width: 50px;
    justify-content: center;
    margin-top: 20px;

}

#clearButton {
    margin-right: 50px;
    margin-left: 730px;
}