html {
    background-color: black;
}

#appName {
    display: flex;
    justify-content: center;
    color: white;  
    top: 100px;
    position: relative; 
    font-size: 50px;
    font-family: Pixelated;
}

.grid-container {
    display: flex;
    margin-top: 170px;
}

.actual-grid {
    display: grid; 
    margin: 0 auto; 
    width: 500px;
    height: 500px;

}

.options-container {
    display: flex; 
    justify-content: center;
    margin-top: 20px;
    gap: 150px;
}

@font-face {
    font-family: Pixelated;
    src: url(Early\ GameBoy.ttf);
} 

#clearButton {
    font-family: Pixelated;
    background-color: yellow;
    color: #00ccff; 
    font-size: 25px;
    height: 50px;
    
}

#eraserButton {
    font-family: Pixelated;
    background-color: yellow;
    color: #00ccff; 
    font-size: 25px;
    height: 50px;
}

#rainbowButton {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 25px;
    height: 50px;
    font-family: Pixelated;
}

.slideText {
    color: yellow;
    font-family: Pixelated; 
    font-size: 25px;
}


