.grid-container {
    display: flex;
    margin-top: 250px;
}

.actual-grid {
    display: grid; 
    margin: 0 auto; 
    width: 500px; 
    height: 500px;

}

.options-container {
    display: flex; 
    justify-content: center;
    margin-top: 20px;

}

#clearButton {
    margin-right: 370px;
}